@font-face {
    font-family: 'Cy Grotesk Grand';
    src: url('fontes/cy-grotesk-grand-regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cy Grotesk Grand', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #171810;
    background-repeat: no-repeat;
    color: white; 
    height: 100%;
    background: url(imagens/black-elegant-background-with-copy-space.jpg);
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 30px;
    text-align: center;
}

.titulo {
    text-align:center;
    font-size:65px;
    margin-bottom:50px;
    color: red;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    color: black;
    padding: 5px 0;
    text-align: center;
    background-color: #565656;
}

h1{
    font-size: 60px;
    color: red;
}

h2 {
    color: red;
}

.slide {
    text-align:center;
    background: rgb(145,2,2);
    background: linear-gradient(90deg, rgba(145,2,2,1) 32%, rgba(215,10,10,1) 47%, rgba(145,2,2,1) 82%);
    font-size:50px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    overflow:hidden;
    white-space:nowrap;
    padding: 30px;
    color: white;
}
    
.slide:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}
    
.slide:last-of-type span {
    margin-left:auto;
    animation: slidein 4s infinite;
}

#sobre{
    font-size: 30px;
    text-align: center;
    flex: 1;
    margin-left: 70px;
}

#educacao{
    font-size: 30px;
    text-align: center;
}

#habilidades{
    font-size: 30px;
    text-align: center;

}

#habilidades > * {
    display: block;
    margin: 0 auto;
    width: fit-content;
    text-align: left; 
}

#especializacoes {
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
}

#redes_socias {
    font-size: 15px;
    gap: 100px;
}

.botoes {
    color: white; 
    text-decoration: none; 
    padding: 10px 90px; 
    border-radius: 5px;
}

.botoes:hover {
    color: #ff0000; 
}

.container2 {
    display: flex;
    padding-top: 150px;
}

.container3 {
    text-align: center;
    display: flex;
    padding-left: 320px;
    font-size: 20px;
}

.container3 > * {
    margin-right: 400px; 
}

.container4 {
    text-align: center;
    display: flex;
    padding-left: 330px;
    font-size: 20px;
}

.container4 > * {
    margin-right: 500px;
}

.bloco {
    width: 500px; 
    height: 100px; 
    background-color: transparent; 
    margin: 10px; 
    display: inline-block; 
    font-size: 30px;
    padding: 150px;
}

.perfil{
    text-align: center;
    flex: 1;
}

.perfil img{
    max-width: 100%;
    display: block; 
    margin: 0 auto; 
    width: 250px;
    border-radius: 50%;
    zoom: 1.3;
}

.perfil>img{
    border-radius: 50%;
    left: -2px;
    position: relative;
    top: 2px;
    width: 250px;
    opacity:0.9;
}

.linkedin{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid ;
}

.linkedin:hover {
    background-color: rgb(9, 9, 128);
}

#contatoCurriculo {
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}

.logos_redes img {
    width: 70px;
}

#educacaoFoto {
    width: 70px;
}

#habilidadesFoto {
    width: 70px;
}

.contato {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

.item img {
    margin-right: 10px; 
    width: 30px;
}


#curriculoFoto {
    width: 70px;
}

.logos_img img{
    height: 120px;
    margin: 0 40px;
}

.logos_img{
    white-space: nowrap;
    animation: 15s slide infinite linear;
}

.logos{
    display: flex;
    overflow: hidden;
    padding: 60px 0;
    background-color: transparent;
}

.logos:hover .tecnologies_img{
    animation-play-state: paused;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes showup {
    0% {opacity:1;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:1;}
}

@keyframes slidein {
    0% { margin-left:-1500px; }
    20% { margin-left:-1000; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:1;width: auto;}
    20% {opacity:1;width:auto;}
    30% {width: auto;}
    80% {opacity:1;}
    100% {opacity:1;width:auto;}
}